# byte compiled files
*.elc

# org-babel output
README.el

# installed packages
/elpa

# variable files
var/

# secrets files
etc/secrets.el

# other
/auto-save-list
etc/custom.el
recentf
projectile-bookmarks.eld
places
projectile.cache
